.vscode
.hydra
/wandb
*.log
*.npy
.pytest_cache
.mypy_cache
model/bit_pretrained

__pycache__
multirun
autoencoder/pretrained
plots
clustering

archive
.hypothesis
gradient
test.py
clustering.py
.DS_Store
mini_exp
synthetic_train.py
synthetic_results
results